<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Display</title>
</head>
<body>
<h1>Data from Repository</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Writers</th>
        <th>Title</th>
        <!-- Add more columns as needed -->
    </tr>
        <tr th:each="getCrewForMovieTitle : ${getCrewForMovieTitle}">
        <td th:text="${getCrewForMovieTitle.crewId}"></td>
        <td th:text="${getCrewForMovieTitle.writers}"></td>
        <td th:text="${getCrewForMovieTitle.title}"></td>
    </tr>
    <div th:if="${error}" th:text="${error}"></div>
</table>
</body>
</html>