<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="/dataBaseDisplay" th:action="@{/dataBaseDisplay}" th:object="${GetCrewForMovieTitle}" method="GET">
    <table>
        <tr>
            <td>Enter the title of a movie, find the writer</td>
            <td><input type="text" th:field="*{title}" /></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">First Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>